.movie {
  width: 100%;
  margin-top: 34px;
}

.movie__poster {
  width: 100%;
}

.movie__caption-cantainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 25px;
  border-bottom: 1px solid #424242;
}

.movie__caption {
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.movie__btn-save {
  background: url('../../images/btn-save.svg');
  fill: white;
  background-color: #313131;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.movie__btn-remove {
  background: url('../../images/btn-remove.svg');
  fill: white;
  background-color: #313131;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.movie__btn-save_active {
  fill: tomato;
}

.movie__duration {
  font-weight: normal;
  font-size: 10px;
  line-height: 1.21;
  color: #8B8B8B;
  margin: 6px 0 0;
}
