.movies-list {
  width: 100%;
  padding-top: 16px;
}

@media screen and (min-width: 630px) {
  .movies-list {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    row-gap: 0;
    column-gap: 30px;
  }
}

@media screen and (min-width: 1230px) {
  .movies-list {
    padding-top: 42px;
    grid-template-columns: repeat(auto-fit, minmax(257.5px, 1fr));
    row-gap: 0px;
    column-gap: 20px;

  }
}
