.form__btn_signin {
  margin-top: 226px;
}

@media screen and (min-width: 630px) {
  .form__btn_signin {
    margin-top: 179px;
  }

  .form__input-error:last-of-type {
    margin-bottom: 65px;
  }

  .form__btn {
    margin-top: 69px;
  }

}
