.me {
  margin: 0 14px;
  min-height: 501px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;
}

.me__head-title {
  border-bottom: 1px solid rgb(218, 218, 218);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  letter-spacing: -.04em;
  font-style: normal;
  margin: 0 0 60px 0;
  padding: 0 0 28px 0;
}

.me__photo {
  border-radius: 10px;
  max-width: 100%;
}

.me__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.21;
  letter-spacing: -.04em;
  font-style: normal;
  margin: 40px 0 0 0;
  padding: 0;
}

.me__article {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
  font-style: normal;
  padding: 0;
  margin: 20px 0 0 0;
}

.me__article:first-of-type {
  font-weight: 500;
}

.me__social-section {
  margin: 40px 0 0 0;
}

.me__social-link {
  color: #fff;
  text-decoration: none;
  transition: opacity .5s ease;
  margin: 0 26px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  font-style: normal;
}

.me__social-link:visited {
  text-decoration: none;
}

.me__social-link:hover {
  opacity: .6;
  text-decoration: underline;
}

@media screen and (min-width: 630px) {
  .me {
    margin: 0 50px;
    min-height: 0;
    font-size: 22px;
    line-height: 1.21;
    padding: 90px 0 81px;
  }

  .me__head-title {
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: 22px;
    margin-bottom: 66px;
    padding: 0 0 23px 0;
  }

  .me__section {
    display: flex;
    flex-direction: row-reverse;
  }

  .me__photo {
    max-width: 255px;
    object-fit: cover;
    margin-left: 49px;
  }

  .me__article-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .me__name {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }

  .me__article {
    font-size: 12px;
    line-height: 1.5;
  }

  .me__article:first-of-type {
    margin-top: 16px;
  }

  .me__social-link {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .me {
    margin: 0 70px;
    padding: 110px 0 116px;
  }

  .me__photo {
    max-width: 270px;
    margin-left: 270px;
  }

  .me__name {
    font-size: 50px;
    line-height: 58px;
  }

  .me__article {
    font-size: 14px;
    line-height: 22px;
  }

  .me__article:first-of-type {
    margin-top: 18px;
    font-size: 18px;
    line-height: 20px;
  }
}

